<a href="https://colab.research.google.com/github/Patidar10/patidar10.github.io/blob/master/answer3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import csv
from csv import DictReader

In [2]:
df2 = pd.read_csv("https://raw.githubusercontent.com/Bungeetech/internship-test2/master/input/question-3/main.csv")

df = df2[{"Team","Red Cards","Yellow Cards"}]
df.sort_values(["Red Cards","Yellow Cards"],ascending=False)

                   Team  Yellow Cards  Red Cards
6                Greece             9          1
9                Poland             7          1
11  Republic of Ireland             6          1
7                 Italy            16          0
10             Portugal            12          0
13                Spain            11          0
0               Croatia             9          0
1        Czech Republic             7          0
14               Sweden             7          0
4                France             6          0
12               Russia             6          0
3               England             5          0
8           Netherlands             5          0
15              Ukraine             5          0
2               Denmark             4          0
5               Germany             4          0