<a href="https://colab.research.google.com/github/Patidar10/patidar10.github.io/blob/master/answer3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import json
import pandas as pd
import numpy as np
import csv
from csv import DictReader

In [60]:
df2 = pd.read_csv("https://raw.githubusercontent.com/Bungeetech/internship-test2/master/input/question-3/main.csv")

df = df2[{"Team","Red Cards","Yellow Cards"}]
df.sort_values(["Red Cards","Yellow Cards"],ascending=False)

                   Team  Red Cards  Yellow Cards
6                Greece          1             9
9                Poland          1             7
11  Republic of Ireland          1             6
7                 Italy          0            16
10             Portugal          0            12
13                Spain          0            11
0               Croatia          0             9
1        Czech Republic          0             7
14               Sweden          0             7
4                France          0             6
12               Russia          0             6
3               England          0             5
8           Netherlands          0             5
15              Ukraine          0             5
2               Denmark          0             4
5               Germany          0             4